/**********************************************************************************************

	Title: CSS for Workforce Development Agency Site
	Author: Elmo Wu (by xuedesign studio)
	Author URL: http://www.xuedesign.tw/
	Version: v1.0 (2016/02)

***********************************************************************************************
		1 通用
		2.首頁
		   2-1. 頂端列
		   2-2. 主要內容區塊
		   2-3. 首頁選單
		   2-4. 版權列	
***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#513030;
	background:url(../images/bg_site.png) repeat}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}
::selection {
   background:#4b4608;
   color:#fffcdb}
::-moz-selection {
   background:#4b4608;
   color:#fffcdb}

/* 2. 首頁  
===============================================================================================*/
#wrap{
	display:block;
	width:1238px;
	min-width:1280px;
	margin:0 auto}
#box_index{
	display:block;
	width:1238px;
	background:url(../images/bg_index.png) repeat;
	margin: 15px auto 0 auto ;
	-webkit-box-shadow: 0 0 20px #4E4E4E;
    -moz-box-shadow: 0 0 20px #4E4E4E;
    box-shadow: 0 0 20px #4E4E4E;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}

/* 2.1 頂端列 */	
header{
	display:block;
	position:relative;
	width:1238px;
	height:89px}
h1 a{
	display:block;
	position:absolute;
	top:28px;
	left:43px;
	width:99px;
	height:135px;
	background:url(../images/pic_h1.png) no-repeat;
	text-indent:-9999px}

/* 2.2 主要內容區塊 */		
#box_content{
	display:block;
	position:relative;
	width:1240px;
	height:600px}
#box_content h2{
	display:block;
	position:absolute;
	top:50px;
	left:43px;
    z-index:99;
	width:572px;
	height:139px;
	background:url(../images/pic_slogan.png) no-repeat;
	text-indent:-9999px}	

#indexTxt, #note, #indexVision{ display:block;	position:absolute; z-index:1; text-indent: -9999px}
#indexTxt{
	top:240px;
	left:55px;
	background: url(../images/pic_indexTxt.png) no-repeat;
	width:472px;
	height:438px}
#note{
	bottom:20px;
	left:120px;
	background: url(../images/pic_note.png) no-repeat;
	width:362px;
	height:170px}
#indexVision{
	bottom:0;
	right:2px;
	background:url(../images/pic_indexvision.png) no-repeat;
	width:711px;
	height:571px}	
		

/* 2.3 首頁選單 */		
#box_menu{
	display:block;
	position:absolute;
	top:39px;
	right:24px;
	border:2px solid #00a1f1;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	width:530px;
	height:25px;
	padding:10px 10px}
#box_menu ul{ display:block; margin:0; padding:0}
#box_menu li{ display: inline-block; list-style: none}
#box_menu li a{
	display:block;
	float:left;
	height:24px;
	text-indent:-9999px;
	background:url(../images/btn_nav.png) no-repeat;
	margin:0 10px;}
#box_menu a.nav_01{ width:188px; background-position: 0 0}
#box_menu a.nav_01:hover{ background-position: 0 -24px}
#box_menu a.nav_02{ width:145px; background-position: 0 -48px}
#box_menu a.nav_02:hover{ background-position: 0 -72px}
#box_menu a.nav_03{ width:125px; background-position: 0 -96px}
#box_menu a.nav_03:hover{ background-position: 0 -120px}
#box_menu a.nav_04{ width:85px; background-position: 0 -144px}
#box_menu a.nav_04:hover{ background-position: 0-168px}

/* 2.4 版權列 */					
footer{
	clear:both;
	display:block;
	position:relative;
	width:1238px;
	height:46px;
	background:url(../images/bg_footer.png) repeat-x;
	-webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px}
footer p{
	text-align:center;
	font-size:0.813em;
	color:#fffcdb;
	margin:0;
	padding:0;
	line-height:46px}
footer .txt_ad{
	display:block;
	position:absolute;
	top:14px;
	right:48px;
	width:52px;
	height:24px;
	background:url(../images/pic_ad.png) no-repeat;
	text-indent:-9999px}

/*動畫效果*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight-01{
  -webkit-animation-delay:1s;
	animation-delay:1s;	
   -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
	animation-duration: 2s;			
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight}

.fadeInRight-02{
  -webkit-animation-delay:2s;
	animation-delay:2s;	
   -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
	animation-duration: 2s;			
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight}

.fadeInRight-03{
  -webkit-animation-delay:3s;
	animation-delay:3s;	
   -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
	animation-duration: 2s;			
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown{
  -webkit-animation-delay:5s;
	animation-delay:5s;	
   -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
	animation-duration: 2s;	
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown}         		  

    
   
						